<html>
  <head>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
    <h1>Mustache.js Template Example</h1>
    <ul class="todos">
      {{#todos}}
        {{>item}}
      {{/todos}}
    </ul>
  </body>
</html>
